

body {
    display: flex;
    justify-content: space-between;
}

.quiz-holder{
    margin-top: 100px;
    width: 800px;
}

.quiz-title{
    text-align: center;
}

.quiz-content{
    text-align: left;
}

.quiz-content h1{
    margin-left: 0px;
}

h1{
    font-size: 200%;

}

h1, p{
    margin: 20px;
}

p{
    margin-left: 10px;
}

button{
    padding: 5px;
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 10px;
    margin-right: 10px;
}

button:hover{
    opacity: .5;
}

#result{
    align-items: flex-start;
    visibility: hidden;
}

ul{
    text-decoration: none;
}

li {
    margin: 5px;
}

#highScoreContainer{
    text-decoration: default;
    list-style-type: decimal;
}

#highScoreContainer li{
    text-decoration: default;

    background-color: lavender;
    margin-top: 10px;
    padding: 5px;
}
